/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background: linear-gradient(135deg, #010829, #760404);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.3s ease;
}


.glass-card {
  backdrop-filter: blur(35px);
  background: rgba(100, 80, 80, 0.15);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  width: 350px;
  animation: fadeIn 0.4s ease;
}

.auth-card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 18px;
  outline: none;
}


.btn-grad {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background: linear-gradient(135deg, #530d13, #dd870e);
  transition: 0.3s ease;
}

.btn-grad:hover {
  transform: scale(1.03);
}


.link-text {
  text-align: center;
  margin-top: 15px;
}

.link-text span {
  color: #8dc0fb;
  cursor: pointer;
  text-decoration: underline;
}


.dashboard-container {
  text-align: center;
  color: #fff;
}

.logout-btn {
  background: #ff4d4d;
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  color: white;
}

.logout-btn:hover {
  background: #cc0000;
}

/* ANIMATION */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

/* DASHBOARD LAYOUT */
.dashboard-main {
  width: 100%;
  padding: 30px;
}

.dashboard-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: left;
}

/* 3 Cards side by side with gap */
.dashboard-cards {
  display: flex;
  gap: 25px;          
  justify-content: center;
  margin-top: 20px;
}

/* Make each card equal width */
.dashboard-card {
  width: 100%;
  max-width: 350px;
}
